<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mfsp.dao.clothingMapper">
    <select id="FuzzySearchClothing" resultType="com.example.mfsp.entity.Clothing" parameterType="com.example.mfsp.entity.Clothing">
        select * from clothing where clothingName like concat(concat('%',#{clothingname}),'%')
    </select>
    <select id="findFirstKind" resultType="String" >
        select  DISTINCT FirstKind from class
    </select>
    <select id="findSecondKind"  resultType="String" >
        select  DISTINCT SecondKind from class where FirstKind=#{FirstKind}
    </select>
    <select id="findThirdlyKind"  resultType="String" >
        select  DISTINCT ThirdlyKind from class  where FirstKind=#{FirstKind} and SecondKind=#{SecondKind}
    </select>
    <select id="sortedbyrentalprice" resultType="com.example.mfsp.entity.Clothing">
        select * from clothing order by clothingRentPrice desc
    </select>
    <select id="sortedbyrentalprice1" resultType="com.example.mfsp.entity.Clothing">
        select * from clothing order by clothingRentPrice asc
    </select>
    <select id="sortedbyprice" resultType="com.example.mfsp.entity.Clothing">
        select * from clothing order by (clothingPrice+0) asc
    </select>
    <select id="sortedbyprice1" resultType="com.example.mfsp.entity.Clothing">
        select * from clothing order by (clothingPrice+0) desc
    </select>

</mapper>