<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mfsp.dao.userMapper">
    <select id="FuzzySearchUser" resultType="com.example.mfsp.entity.User" parameterType="com.example.mfsp.entity.User">
        select * from user where userName like concat(concat('%',#{username}),'%')
    </select>

    <!--然后写对应的sql语句，名字跟刚刚的mapper借口一致就行-->

    <select id="findByName" resultType="com.example.mfsp.entity.User" parameterType="String">
        select * from user where userName = #{user}
    </select>

    <select id="findByUserPassword" resultType="com.example.mfsp.entity.User" parameterType="String">
            select * from user where userName=#{username} and userPassword=#{userpassword}
    </select>

    <insert id="register" parameterType="com.example.mfsp.entity.User">
        <!--配置插入后能拿到id-->
        <!--        <selectKey keyProperty="id" keyColumn="id" resultType="int" order="AFTER">-->
        <!--            select last_insert_id();-->
        <!--        </selectKey>-->
        insert into user(userName, userPassword, userRole,userPic,phone) values (#{username}, #{userpassword}, #{userrole}, #{userpic}, #{phone})
    </insert>

</mapper>