<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>会员制时装共享平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.22/vue.js">
    </script>

 <script src="js/index.js"></script>

    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <style>
        /* 弹窗部分css */
        /* * {
            margin: 0;
            padding: 0;
        }
        #shade{
            position: fixed;
            width: 100%;
            height: 100%;
            display: none;
            z-index:100;
        }
        .shade-background{
            width: 100%;
            height: 100%;
            background-color: rgb(59, 59, 59);
            opacity: 0.5;
            z-index:100;
        }
        #register{
            position: relative;
            background-color: #fff;
            width: 500px;
            height: 185px;
            top: -70%;
            margin: 0 auto;
        } */

        
        
    </style>
</head>

<body>
<div id='app'>



    <div id="shade">
        <!-- 弹窗部分 -->
        <div class="shade-background"></div>
        <div id="register">
               
                <div class="row col-lg-12 " style="text-align:center">
                    <br>
                    <br>

                    <div class=" col-lg-6">
                        <label class　="radio-inline">
                            <input type="radio" name="RentRadioOptions" id="rentByTimes" value="0" @click="testCheckBox()"><h4>
                                按次租赁
                            </h4>
                          </label>
                    </div>
                    <div class=" col-lg-6" v-if="showRentByT">
                     
                        <input type="number"  class="form-control"  min="1" max="30" placeholder="30天内" v-model="RentDaysTime">
                     
                    </div>
             
                  

                  </div>
                  <div class="row col-lg-12" style="text-align:center">

                    <div class=" col-lg-6" >
                        <label class　="radio-inline">
                            <input type="radio" name="RentRadioOptions" value="1" id="rentByMonths" @click="testCheckBox()"><h4>
                                按月租赁
                            </h4>
                          </label>
                    </div>
                    <div class=" col-lg-6" v-if="showRentByM" >
                       
                        <input type="number"  class="form-control" min="2"  placeholder="1个月以上" v-model="RentMonthsTime">
                      
                    </div>
                  </div>

                  <button  id="back" class="btn btn-primary">返回</button>   
             
                  <button type="submit" id="submit_Rent" class="btn btn-primary">确定</button>

        
           
        </div>
    </div>

    <div id="title" class="title">


        <header class="col-12">
            <div class="navbar navbar-default">
                <div class="nav navbar-nav navbar-left col-6">
                    <a href="index.html" >
                        <h1>{{sitename}}</h1>
                    </a>
                   
                </div>




                <div class="nav navbar-nav navbar-right col-2">你好!{{user.username}}</div>
               

                <div class="nav navbar-nav navbar-right col-1">
                    <button class="btn btn-light" @click="gotoClientPage()">
                        <a >
                            个人中心
                            </span>
                        </a>
                    </button>
                </div>

                <div class="nav navbar-nav navbar-right cart col-2">
                    <button class="btn btn-light" @click="checkOut">
                       <a >
                                <span class="glyphicon glyphicon-shopping-cart ">
                                    <span class="badge badge-primary badge-pill">{{count_Num+countNum}}</span> CheckedOut
                                   
                                </span>
                            </span>
                        </a>
                    </button>
                </div>

 


                <div class="nav navbar-nav navbar-right col-1">
                    <button class="btn btn-light" @click="logout()"> 
                        <a >
                            退出登录
                            </span>
                        </a>
                    </button>

                </div>


            </div>

        </header>

    </div>

    <main>



        <div class=" col-lg-12 col-lg-offset-1" v-if="Address1">
            <h1>
                选择地址
            </h1>
            <!-- <div  v-for='(address,key) in addresses' :value="key"> -->
                <label class　="radio-inline">
                    <input type="radio" name="addressRadioOptions"> {{addresses.useraddress}}  {{addresses.username}}  {{addresses.userphone}} <a href="">修改地址</a>
                  </label>
            <!-- </div> -->
            <br>
           
            
            <button type="button" class="btn btn-default" @click=" addUserAddress()">使用新地址</button>
         
             


        </div>
        <div class=" col-lg-12 col-lg-offset-1" v-if="Addressn">
            <h1>
                选择地址
            </h1>
            <div  v-for='item in addresses'>
                <label class　="radio-inline">
                    <input type="radio" name="addressRadioOption"> {{item.useraddress}}  {{item.username}}  {{item.userphone}} <a href="">修改地址</a>
                  </label>
            </div>
            <br>
           
            
            <button type="button" class="btn btn-default">使用新地址</button>
         
             


        </div>
       
    <br>
    <br>
    <div class=" col-lg-12 col-lg-offset-1">
        <h1>
            确认订单信息
        </h1>
        <div class="row "  style="text-align:center">
            <div class="col-lg-2">
                商品名字
            </div>
           
            <div class="col-lg-2">
                单价
            </div>
            <div class="col-lg-2">
                数量
            </div>
            <div class="col-lg-2">
                小计
            </div>

        </div>

        <div v-if="showBuy">
            <div class="row "  style="text-align:center"  v-for="(clothing,key) in clothings" :value="key">
                <div class="col-lg-2">
                {{clothing.clothingname}}
                </div>
                <div class="col-lg-2">
                {{clothing.clothingprice|formatclothingprice}}
                </div>
            
                <div class="col-lg-2">
                    {{shoppingCart[key].sccnum}}
                </div>
                <div class="col-lg-2">
                    {{clothing.clothingprice*shoppingCart[key].sccnum|formatclothingprice}}
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-warning" @click="deleteClothingFormCartById(shoppingCart[key])">移除</button>
                </div>

            </div>
        </div>
    
        <div v-if="showRent">
            <div class="row "  style="text-align:center"  v-for="(clothing,key) in clothings" :value="key">
                <div class="col-lg-2">
                {{clothing.clothingname}}
                </div>
                <div class="col-lg-2">
                {{clothing.clothingrentprice|formatclothingprice}}
                </div>
            
                <div class="col-lg-2">
                    {{shoppingCart[key].sccnum}}
                </div>
                <div class="col-lg-2" v-if="showRentByT">
                    {{clothing.clothingrentprice*shoppingCart[key].sccnum|formatclothingprice}}+保证金({{parseInt(clothing.clothingprice*0.2)*shoppingCart[key].sccnum|formatclothingprice}})
                </div>
                <div class="col-lg-2" v-if="showRentByM">
                    {{(parseInt(clothing.clothingrentprice)+parseInt(clothing.clothingprice*0.08*RentMonthsTime))*shoppingCart[key].sccnum|formatclothingprice}}+保证金({{parseInt(clothing.clothingprice*0.2)*shoppingCart[key].sccnum|formatclothingprice}})
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-warning" @click="deleteClothingFormCartById(shoppingCart[key])">移除</button>
                </div>

            </div>
        </div>


        <br>
        <br>
        
      
              <div class="col-lg-6">
                <label class　="radio-inline">
                    <input type="radio" name="BuyOrRentRadioOptions" @click="showBuyButton"> <h3>
                        购买
                    </h3>
                  </label>
             
                   
               
              </div>
              <div class="col-lg-6">

                <label class　="radio-inline">
                    <input type="radio" name="BuyOrRentRadioOptions"  id="rentBtn" @click="showRentButton"> <h3>
                        租赁
               
                
                </label>
              </div>
      
        


        <div class="row ">
            <div class="col-lg-6">
                <h4>
                    留言                                    
                </h4>
    
            </div>
            <div class="col-lg-6">
                <h4>
                    总计{{countMoney|formatclothingprice}}
                </h4>
              
            </div>
        </div>
        
        <div class="col-lg-8">
            <textarea class="form-control" rows="3" style="resize:none ;" v-model="orderForm.remark"></textarea>
        </div>
        <div>
            <button type="button" class="btn btn-info" @click="placeOrder()">提交订单</button> 
        </div>


    </div>






</main>





</div>

<!-- 商品部分js -->
<script type="text/javascript">



    new Vue({
        el: '#app',
        data:{
            sitename:"会员制时装共享平台",
            user:{
                username:"游客",
                userid:0,
            },
            showBuy:true,
            showRent:false,
            shadeDisplay:"block",
            showRentByT:true,
            showRentByM:false,
            RentMonthsTime:2,
            RentDaysTime:1,
            Address1:"",
            Addressn:"",
            orderForm:{
                orderformclass:1,//1buy
                remark:"",

            },
            showclothing:true,
            RimgUrl:"",
            radio:"check",
           
            count_Num:0,
            shoppingCart:[

            ],
            clothings:[
            // {
            //         clothingid: 1,
            //         clothingname: "garment",
            //         clothingdescr: "<em>new garment</em>",
            //         clothingprice: 699900,
            //         clothingpic: 'img/1.png',
            //         clothingnum: 4,
            //         sccnum:1,
            //     },
           


            ],

           
                
            address:"",
            // addresses:["beking","shanghai","guangdong"],
            addresses:[{

            }],
			names:["tim","tom","jerry"],
            phones:["123","321","2345"],
			totalprice:0,
       
            
            cart:[],


        },

        mounted:function(){
           
            this.QueryUserSession();
          
            this.setAddressDefault()
          
           
        },

        methods:{
            addToCart:function(clothing){
                if(this.canAddToCart){
                    console.log('canAddToCart:');
                    this.cart.push(clothing.clothingid)
                }
              

                let that = this;
                $.ajax({
                    url: 'Addtoshoppingcart',

                    type: 'get',

                    data: {clothingid:clothing.clothingid ,     //传单值到后台成功
                            userid:1,

                    },

                    // dataType: "json",

                    success: function (e) {
                        console.log('success:', e);

                    }

                })



            },
            showBuyButton:function(){
                    this.showBuy=true;
                    this.showRent=false;
                    this.orderForm.orderformclass=1;
                    
                },
                showRentButton:function(){
                    this.showBuy=false;
                    this.showRent=true;
                    this.orderForm.orderformclass=2;
                    
                },
                // submitRentClick(){
                //     // if(this.showRentByM){
                //     //     this.RentMonthsTime*0.08*
                //     // }
                // },
            
            cartCount(clothingid){
                let count = 0
                for(let i = 0;i<this.cart.length;i++){
                    if(this.cart[i] === clothingid){
                        count++
                    }
                }
                return count
            },
            canAddToCart(aclothing){
                return aclothing.clothingnum > this.cartCount(aclothing.clothingid)
            },
            ///////////////////////////////////////////////////////////////
            deleteClothingFormCartById(shoppingCart){
                let that = this;
                        $.ajax({
                    
                            url: 'deleteone',
                            type: 'get',

                            data: {
                                shoppingcartid:shoppingCart.shoppingcartid,

                                    

                            },

                            

                            success: function (e) {
                                console.log('success:', e);
                               
                               
                               
                            }

                        })
                        window.location.href="placeOrderPage.html";

            },
            gotoClientPage(){

                    $.ajax({
                        
                                    url: 'GotoClient',
                                    type: 'get',

                                    data: {
                                            

                                    },
                                
                                    success: function (e) {
                                        console.log('success:', e);
                                        

                                    }

                                })


                    },
            deleteAllClothingFormCart(){

                let that = this;
                        $.ajax({
                    
                            url: 'deleteall',
                            type: 'get',

                            data: {
                                userid:that.user.userid,

                                    

                            },

                            

                            success: function (e) {
                                console.log('success:', e);
                                window.location.href="placeOrderPage.html";
                                
                            }

                        })

            },

            testCheckBox(){
                var RentMethod = document.getElementsByName('RentRadioOptions');
               
              
                for (var i = 0; i < RentMethod.length; i++) {
                        if (RentMethod[i].checked == true) {
                            if(RentMethod[i].value==0){
                             
                                this.showRentByT=true;
                                 this.showRentByM=false;
                            }else if(RentMethod[i].value==1){
                                this.showRentByT=false;
                                 this.showRentByM=true;
                               
                            }
                     
                        }
                       
                        }
                    },
            setAddressDefault(){
                       
                        var BuyOrRentoption = document.getElementsByName('BuyOrRentRadioOptions');
                        BuyOrRentoption[0].checked=true;
                        var RentMethod = document.getElementsByName('RentRadioOptions');
                        RentMethod[0].checked=true;
                        var option = document.getElementsByName('addressRadioOptions');
                        if(option[0]!=null){
                            alert("option[0]!=null")
                            option[0].checked=true;
                        }else{/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                            alert("option[0]==null")
                            var No_option = document.getElementsByName(' addressRadioOption');
                           
                            No_option.checked=true;
                        }
                      

                    },

            searchAddressOfUser(){
                let that = this;
             
                $.ajax({
                    url: 'queryAdress',

                    type: 'get',

                    data: {    
                        userid:that.user.userid,

                    },

                    // dataType: "json",

                    success: function (e) {
                        console.log('success:', e);
                       
                     if(e.count==1){
                        that.addresses=e.data[0];
                        that.Address1=true;
                        that.Addressn=false;
                       
                        
                     }else{
                        that.Address1=false;
                        that.Addressn=true;
                        for (let index = 0; index < e.data.length; index++) {
                            that.addresses.push(e.data[index]);

                        }
                     }
                          

                        

                    }

                })
                    },
                    addUserAddress(){
                      
                       //////////////////////////gotoAddAddress 
                        let that = this;
                        $.ajax({
                    
                            url: '',
                            type: 'get',

                            data: {
                               
                                    

                            },

                            

                            success: function (e) {
                                console.log('success:', e);
                                

                            }

                        })

                    },
                    placeOrder(){
      



                        if(this.Address1){
                            this.address=this.addresses.useraddress+this.addresses.username+this.addresses.userphone
                        }
                        if(this.showRentByM){
                            this.RentDaysTime=null;
                        }else if(this.showRentByT){
                            this.RentMonthsTime=null;
                        }
                        



                        let that = this;
                            $.ajax({
                                url: 'AddOrder',

                                type: 'get',

                                data: {   

                                    orderformclass:that.orderForm.orderformclass,
                                    userid: that.user.userid,
                                    days:"",
                                    orderformaddress:that.address, 
                                    totalprice: that.countMoney,
                                    remark: that.orderForm.remark,
                                    orderstatus:"未处理",
                                    month:that.RentMonthsTime,
                                    days:that.RentDaysTime,

                                },

                                // dataType: "json",

                                success: function (e) {
                                    console.log('success:', e);
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                
                                   that.reduceStorage();
                                }

                            })

                    },
                    reduceStorage(){
                        

                        let that = this;
                      
                        
                      for (let index = 0; index < that.shoppingCart.length; index++) {
                        if(this.showBuy){
                            var transferPirce=that.clothings[index].clothingprice;

                        }else{
                            var transferPirce=that.clothings[index].clothingrentprice;
                        }
                        that.shoppingCart[index];
                 
                    $.ajax({
                        url: 'reduceclothingnum',

                        type: 'get',

                        data: {
                            clothingid:that.shoppingCart[index].clothingid,
                            clothingnum:that.shoppingCart[index].sccnum,
                            

                        },

                        // dataType: "json",

                        success: function (e) {
                            console.log('success:', e);
                        

                        }

                    })


                
///////////////////////////////////add sell
                    $.ajax({
                        url: 'clothinginorder',

                        type: 'get',

                        data: {
                            clothingid:that.shoppingCart[index].clothingid,
                            clothingnum:that.shoppingCart[index].sccnum,
                            clothingname:that.clothings[index].clothingname,
                            clothingprice:transferPirce,
                            clothingdescr:that.clothings[index].clothingdescr,
                            

                        },

                        // dataType: "json",

                        success: function (e) {
                            console.log('success:', e);
                        
                            that.deleteAllClothingFormCart()
                        }

                    })

                      }

                    },

      
            checkOut0(){
              
              let that = this;
              $.ajax({
                  url: 'QueryShoppingcart',
                  type: 'get',
                  data: {
                      userid:that.user.userid ,     //传单值到后台成功
                         

                  },

                  // dataType: "json",

                  success: function (e) {
                      console.log('success:', e);
                   
                      that.count_Num=e.count;

                      for (let index = 0; index < e.data.length; index++) {
                        that.shoppingCart.push(e.data[index]);
                 
                        $.ajax({
                    url: 'QueryClothingById0',

                    type: 'get',

                    data: {clothingid: e.data[index].clothingid      //传单值到后台成功


                    },

               

                    success: function (e) {
                        console.log('success:', e);

                      that.clothings.push(e.data[0]);
                      if(that.shoppingCart[index].sccnum>e.data[0].clothingnum){

                          alert("商品"+[index+1]+"库存数量不足，已设置为最大数量")
                        that.shoppingCart[index].sccnum=e.data[0].clothingnum;
                      }
                      
                    

                    }

                })


                        }
                    
                    
                  }

              })
            

          },
          checkOut(){
                // window.open('demo111')
              
              let that = this;
              $.ajax({
             
                url: 'GotoShoppingcart',
                  type: 'get',

                  data: {
               

                  },

               

                  success: function (e) {
                      console.log('success:', e);
                    

                  }

              })

          },
        QueryUserSession(){
                
            
                let that = this;
                $.ajax({
                    url: 'QueryUserSession',

                    type: 'get',

                    data: {    //传单值到后台成功


                    },

                    // dataType: "json",

                    success: function (e) {
                        console.log('success:', e);

                     
                        for (let index = 0; index < e.data.length; index++) {
                            that.user=e.data[index];

                        }
                        that.checkOut0();
                        that.searchAddressOfUser()
                    }

                })

            },












            Query0(){
            
                let that = this;
                $.ajax({
                    url: 'QueryClothingById0',

                    type: 'get',

                    data: {clothingid: 0      //传单值到后台成功


                    },

                    // dataType: "json",

                    success: function (e) {
                        console.log('success:', e);

                     
                        for (let index = 0; index < e.data.length; index++) {
                            that.clothings.push(e.data[index]);

                        }

                    }

                })
            },



            Query(cid){
                alert("Query");
                let that = this;

                $.ajax({
                    url: 'QueryClothingById0',

                    type: 'get',

                    data: {clothingid: cid      //传单值到后台成功


                    },

                    // dataType: "json",

                    success: function (e) {
                        console.log('success:', e);

                      that.clothing=e.data[0];
                    

                    }

                })
            }



        },
        















        filters:{
            formatclothingprice:function(clothingprice){
                if(!parseInt(clothingprice)){return ""}
                else{
                    let clothingpriceString = (clothingprice/100).toFixed(2)
                    return "￥" + clothingpriceString
                }
            }
        },
        computed:{
            cartItemCount:function(){
                return this.cart.length || ""
            },
            cartCount(clothingid){
                let count = 0
                for(let i = 0;i<this.cart.length;i++){
                    if(this.cart[i] === clothingid){
                        count++
                    }
                }
                return count
            },
            canAddToCart(aclothing){
                return aclothing.clothingnum > this.cartCount(aclothing.clothingid)
            },
            countNum:function(){
              
                countNum = 0
                for (let i in this.clothings){
                    let num = this.cartCount(this.clothings[i].clothingid)
                    countNum += num
                }
                return countNum
            },
            countMoney:function(){
           
                countMoney = 0
                if(this.showRent){
                    if(this.showRentByM){
                        for (let i in this.clothings){
                           
                            money = (parseInt(this.clothings[i].clothingprice*0.08*this.RentMonthsTime)+parseInt(this.clothings[i].clothingrentprice)+parseInt(this.clothings[i].clothingprice*0.2))*this.shoppingCart[i].sccnum

                            countMoney += money
                        }
                    }else{
                        for (let i in this.clothings){
                            money = (parseInt(this.clothings[i].clothingrentprice)+parseInt(this.clothings[i].clothingprice*0.2))*this.shoppingCart[i].sccnum
                            countMoney += money
                        }
                    }
              
                }else{
                    for (let i in this.clothings){
                    money = this.clothings[i].clothingprice*this.shoppingCart[i].sccnum
                    countMoney += money
                }
                }
               
                return countMoney
            },


        },






        // watched:{

        // }
    })

</script>
<!--弹窗部分js -->
<script>
    var shade = document.getElementById("shade");
    var btn = document.getElementById("rentBtn");
    var back = document.getElementById("back");
    var sub = document.getElementById("submit_Rent");


    btn.onclick = function(){
        shade.style.display = "block"
      
    }
    back.onclick = function(){
        shade.style.display = "none"
    }
    sub.onclick = function(){
        shade.style.display = "none"
    }


</script>

</body>

<script>
  
</script>




</html>